body{
  background-color: black;
  color: white;
  zoom: 1.2;
}
.container{
  display: block;
  margin: auto;
  text-align: center;
}
button{
  display: block;
  margin: auto;
  zoom: 2;
  background-color: lightgreen;
  border-radius: 5px;
  border: solid black;
}
img{
  border-radius: 50%;
}
.fullName{
  font-size: 210%;
  color: red;
}
.comma{
  color: white;
}
.age{
  color: lime;
}
.info{
  display: block;
  margin: auto;
  line-height: 15px;
}
span{
  color: orange;
}